.section__about {
    margin: 100px auto 0 auto;
    max-width: 1312px;
    border-radius: 24px;
    background: #F4F8FC;
    box-sizing: border-box;
    padding: 48px;
}

.section__about__head {
    display: flex;
}

.section__about__head__title {
    font-family: "Open Sans";
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    color: #373737;
}

.section__about__head__button {
    margin-left: auto;
    margin-top: auto;
    padding: 12px 20px;
    border: 1px solid #026994;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    color: #026994;
    background: none;
    border-radius: 16px;
    display: flex;
}

.section__about__head__button:hover {
    color: #FFFFFF;
    background: #026994;
    cursor: pointer;
}

.section__about__head__button__arrow {
    width: 7.36px;
    height: 12.72px;
    background-image: url("/local/templates/main/assets/img/button_arrow_right.svg");
    margin-left: 18.5px;
    margin-top: 7px;
}

.section__about__head__button:hover .section__about__head__button__arrow {
    background-image: url("/local/templates/main/assets/img/button_arrow.svg");
}

.section__about__list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 315px 315px 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
}

.section__about__list__element {
    display: flex;
    background: #026994;
    border-radius: 24px;
    padding: 24px;
    box-sizing: border-box;
    gap: 32px;
}

.section__about__list__element:hover {
    background: #02567A;
    cursor: pointer;
}

.section__about__list__element:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
}

/* 2 элемент - 1 строка, 2 колонка */
.section__about__list__element:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
}

/* 3 элемент - 2 строка, 1 колонка */
.section__about__list__element:nth-child(3) {
    grid-row: 2;
    grid-column: 1;
}

.section__about__list__element:nth-child(3) .section__about__list__element__title {
    margin-top: 2px;
}

/* 4 элемент - 2 строка, 2 колонка */
.section__about__list__element:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
}

.section__about__list__element:nth-child(4) .section__about__list__element__title {
    margin-top: 13.5px;
}

.section__about__list__element__image {
    width: 64px;
}

.section__about__list__element__title {
    font-family: "Open Sans";
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    color: #FFFFFF;
}

.section__about__list__element__description {
    margin-top: 4px;
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    color: #FFFFFF;
}

.section__about__banner {
    background-image: url("/local/templates/main/assets/img/about_banner.png");
    background-repeat: no-repeat;
    grid-row: 1 / 3; /* от 1 до 3 строки */
    grid-column: 3;
    margin-left: 23px;
    border-radius: 24px;
    box-sizing: border-box;
    padding: 24px 22px;
    height: 300px;
}

.section__about__banner__title {
    margin-top: 182px;
    background: #02567A99;
    backdrop-filter: blur(16px);
    border-radius: 16px;
    padding: 16px 40px;
    font-family: "Open Sans";
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 110%;
}