.section__cover {
    margin: 0 auto;
    padding: 309px 692px 68px 64px;
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	border-radius: 24px;
}

.section__cover__title {
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 72px;
    color: #FFFFFF;
}

.section__cover__description {
    margin-top: 16px;
    margin-bottom: 32px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}