* {
    margin: 0;
}

.header {
    margin: 0 auto;
    max-width: 1312px;
    margin-top: 40px;
}

.header__contacts {
    font-family: Raleway, sans-serif;
    display: flex;
    justify-content: center;
}

.contacts__list {
    margin-left: 40px;
    padding: 9px 0 9px 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap; 
}

.list__element {
    font-weight: 400;
    font-size: 16px;
    display: flex;
}

.list__element--column {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.list__element__group {
    display: flex;
    align-items: flex-start;
}

.list__element__title {
    margin-left: 40px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    color: #506F88;
}

.list__element--column .list__element__title {
    width: 70px;
    min-width: 70px;
    margin-left: 40px; 
}

.list__element__detail {
    margin-left: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #373737;
    margin-top: 0;
}

.list__element__detail + .list__element__detail {
    margin-top: 4px;
}

.contacts__signature {
    margin: 19px 0 19px 4px;
    width: 114px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 12px;
}

.contacts__iconRAD {
    margin: 1px 0 1px 48px;
}

.contacts__iconVisualyImpaired {
    margin: 4px 46px 4px 32px;
}

.header__menu {
    margin-top: 16px;
    margin-bottom: 24px;
    padding: 16px 40px;
    display: flex;
    background: #F4F8FC;
    border-radius: 24px;
    justify-content: center;
}

.header__menu__navigation {
    margin-top: 16.5px;
    margin-right: 114px;
    width: 706px;
    display: flex;
    justify-content: space-between;
}

.header__menu__navigation__link {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    color: #373737;
}

.header__menu__navigation__link:hover {
    color: #026994;
}

.header__menu__navigation__link__icon {
    margin-left: 4px;
    margin-bottom: 1px;
}

.header__menu__icon:last-of-type {
    margin-left: 16px;
    margin-right: 64px;
}

.main__button {
    width: 268px;
    height: 51px;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    border-radius: 16px;
    padding: 0 41px;
    background: #026994;
    backdrop-filter: blur(64px)
}

.main__button:hover {
    background: #02567A;
    cursor: pointer;
}

.main__button_icon {
    margin-left: 18.5px;
}

.header__menu__navigation__burger {
    font-family: "Open Sans";
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
    background: #E6F0F8;
    padding: 16px;
    width: 109px;
    border-radius: 24px;
    position: absolute;
    margin-top: 23.5px;
    margin-left: 80px;
    display: none;
}

.header__menu__navigation__burger.show {
    display: block;
}

.header__menu__navigation__burger__element:nth-child(2) {
    margin-top: 21px;
    margin-bottom: 21px;
}

.header__menu__navigation__burger__element__link {
    text-decoration: none;
    color: #373737;
}
