.section__specialists {
    margin: 40px auto 0 auto;
    max-width: 1312px;
}

.section__specialists__info {
    display: flex;
    justify-content: space-between;
}

.section__specialists__info__container {
    max-width: 871px;
}

.section__specialists__info__title {
    color: #373737;
    font-family: "Open Sans";
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
}

.section__specialists__info__description {
    margin-top: 24px;
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    color: #373737;
}

.section__specialists__info__button {
    margin-top: 77px;
}

.section__news__list {
    margin-top: 40px;
    position: relative;
}

.section__news__list__container {
    display: flex;
    gap: 20px;
    width: 100%;
}

.section__news__list__element {
    background: #F4F8FC;
    flex: 0 0 calc(25% - 15px);
    min-width: calc(25% - 15px);
    flex-shrink: 0;
    border-radius: 24px;
    padding-bottom: 24px;
    box-sizing: border-box;
}

.section__news__list__element:hover {
    background: #E6F0F8;
    cursor: pointer;
}

.section__news__list__element__image {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    display: block; 
    margin-bottom: 24px;
    width: 100%;
}

.section__news__list__element__title {
    margin-left: 24px;
    margin-right: 24px;
    max-width: 230px;
    font-family: "Open Sans";
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    color: #373737;
    height: 36px;
    line-height: 110%;
    letter-spacing: 0%;
}

.section__news__list__element__description {
    margin-top: 16px;
    margin-left: 24px;
    margin-bottom: 24px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    min-height: 36px;
}

.section__news__list__element__link {
    margin-left: 24px;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    color: #02567A;
}

@media screen and (max-width: 1024px) {
    .section__specialists__info {
        flex-direction: column;
        align-items: center;

    }

    .section__specialists__info__button {
        margin-top: 32px;
    }

    .section__news__list__container {
        flex-direction: column;
        gap: 24px;
    }

    .section__news__list__element {
        flex: 0 0 auto;
        min-width: 100%;
    }

    .section__news__list__element__title {
        max-width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .section__specialists__info__title {
        font-size: 32px;
    }

    .section__specialists__info__description {
        font-size: 16px;
    }

    .section__news__list__element__title {
        font-size: 16px;
    }

    .section__news__list__element__description {
        font-size: 14px;
    }

    .section__news__list__element__link {
        font-size: 16px;
    }
}
