.section__reviews {
    max-width: 1312px;
    margin: 100px auto 0 auto;
}

.section__reviews__info {
    display: flex;
}

#button_reviews {
    padding: 16.5px 57.5px;
}

#reviews__list {
    margin-top: 25px;
}

#reviews__list__container {
    max-height: 217px;
}

#reviews__list__element {
    background: #F4F8FC;
    max-height: 217px;
}

#reviews__list__element:hover {
    background: #E6F0F8;
    cursor: pointer;
}

.reviews__list__element__date {
    color: #506F88;
    margin: 24px 24px 8px 24px;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 0%;
}

#reviews__list__element__title {
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 0%;
}

#reviews__list__element__description {
    font-size: 14px;
    line-height: 110%;
    letter-spacing: 0%;
}

.section__promotion__list__gradelist {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.section__promotion__list__gradelist__element {
    background: #F4F8FC;
    border-radius: 24px;
    padding: 24px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}

.section__promotion__list__gradelist__element:hover{
    background: #E6F0F8;
    cursor: pointer;
}

.section__promotion__list__gradelist__element__container {
    display: flex;
    margin-top: 14px;
}

.section__promotion__list__gradelist__element__icon {
    width: auto; 
    height: auto; 
    max-width: 100%; 
    flex-shrink: 0; 
    align-self: flex-start;
}

.section__promotion__list__gradelist__element__grade {
    font-family: "Open Sans";
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 120%;
    color: #026994;
}

.section__promotion__list__gradelist__element__stars {
    margin-left: 14px;
}